{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
<section class="announcement-bar">
<div class="container">
  <div class="announcement-bar__wrapper">
    <a href="#" class="announcement-bar__wrapper_blog">
      Blog
    </a>
    <a href="#" class="announcement-bar__wrapper_contact-us">
      Contact Us
    </a>
    <div class="announcement-bar__wrapper_free-shipping-inner">
      <div class="announcement-bar__wrapper_free-shipping-inner_img-car">
        {% render 'icon-car' %}
      </div>
      <div class="announcement-bar__wrapper_free-shipping-inner_text">
        Free Shipping on orders over $149
      </div>
      <div class="announcement-bar__wrapper_free-shipping-inner_img-i">
        {% render 'icon-info' %}
      </div>
    </div>
    <div class="announcement-bar__wrapper_tell-inner">
      <div class="announcement-bar__wrapper_tell-inner_img">
        {% render 'icon-tell' %}
      </div>
      <a  href="tel:+2143429290" class="announcement-bar__wrapper_tell-inner_tell">
        214-342-9290
      </a>
    </div>
    <div class="announcement-bar__wrapper_accaunt-innner">
      <div class="announcement-bar__wrapper_accaunt-innner_img">
        {% render 'icon-account-batton' %}
      </div>
      <div class="announcement-bar__wrapper_accaunt-innner_text">
        My Account
      </div>

    </div>
  </div>
</div>
</section>
  
  



  

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "accent-1"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 5,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
