.announcement-bar.color-accent-2.gradient {
    height: 100%;
    height: 47px;
}

.announcement-bar__wrapper {
    display: flex;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 18px;
}



.announcement-bar__wrapper .elementor-heading-title.elementor-size-default {
    display: flex;
}

.announcement-bar__wrapper .test-test {
    display: flex;
    /* align-items: center; */
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.test-test {
    max-width: 289px;
    width: 100%;
    line-height: 39px;
}
.announcement-bar__wrapper
    .elementor-heading-title a {
    color: #000;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 0px;
    opacity: 90%;
}
.announcement-bar__wrapper .elementor-heading-title:hover a{
    color: #fff;
}
.elementor-button-content-wrapper {
    display: flex;
    padding-top: 10px;
}

.elementor-button-icon img {
    width: 17px;
    height: 23px;
    padding-top: 2px;
}
.elementor-button-icon {
    padding-top: 1px;
}

.elementor-button-text {
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    padding-right: 3px;
    line-height: 27px;
}



@media (max-width: 750px) {
    .announcement-bar__wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .announcement-bar.color-accent-2.gradient {
        height: 100%;
        
    }
    .elementor-heading-title a {
        line-height: 14px;
    }
    .test-test {
        max-width: 209px;
        line-height: 19px;
    }
    .announcement-bar__wrapper {
        
        padding-left: 20px;
        padding-right: 20px;
    }
    .elementor-button-content-wrapper .elementor-button-text {
        line-height: 28px;
    }
    .elementor-button-content-wrapper {
        margin-top: 17px;
        margin-bottom: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 27px;
    }
    .announcement-bar__wrapper{
        /* height: 126px; */
    }
    .elementor-button-icon {
        padding-top: 2px;
    }
    .elementor-button-icon img {
        
        padding-top: 0px;
    }
    .announcement-bar__wrapper .elementor-heading-title a {
        
        line-height: 14px;
    }
}