.container.slider-product-proposal__container {
    max-width: 1300px !important;
    margin: 0 auto;
}
.slick-slider .slick-arrow, .arrow-control {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    font-size: 0;
    
    overflow: hidden;
    
    
    z-index: 1;
    border: none;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s linear opacity;
    opacity: 1;
    background: transparent;
}
.slick-slider .slick-arrow, .arrow-control:hover {
    opacity: 0.8;
}
.slick-slider .slick-arrow:before, .arrow-control:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: inherit;
    color: currentColor;
    font-weight: bold;
}
.slick-slider .slick-prev, .control-prev {
    left: -50px;
}
.slick-slider .slick-prev::before, .control-prev::before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='9' height='14' viewBox='0 0 9 14'><path d='M8.13388 0.616115C7.64573 0.12796 6.85427 0.127962 6.36612 0.616118L1.0429 5.93935C0.457115 6.52514 0.457115 7.47489 1.0429 8.06067L6.36612 13.3839C6.85427 13.872 7.64573 13.872 8.13388 13.3839C8.62204 12.8957 8.62204 12.1043 8.13388 11.6161L3.51777 7.00001L8.13389 2.38388C8.62204 1.89573 8.62204 1.10427 8.13388 0.616115Z' fill='%4D5061'/></svg>");
    display: inline-block;	
    width: 50px;
    height: 50px;  
}
.slick-slider .slick-next, .control-next {
    right: -50px;
}
.slick-slider .slick-next::before, .control-next::before {
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='9' height='14' viewBox='0 0 9 14'><path d='M0.866118 13.3839C1.35427 13.872 2.14573 13.872 2.63389 13.3839L7.9571 8.06065C8.54289 7.47486 8.54288 6.52512 7.9571 5.93933L2.63389 0.616117C2.14573 0.127961 1.35427 0.127961 0.866119 0.616117C0.377963 1.10427 0.377963 1.89573 0.866118 2.38388L5.48223 6.99999L0.866115 11.6161C0.37796 12.1043 0.377962 12.8957 0.866118 13.3839Z' fill='%4D5061'/></svg>");
    display: inline-block;	
    width: 24px;
    height: 24px;
}
/* Slick slider End */

.slider-product-proposal {
    padding: 50px 0;
}




.slider-product-proposal__control {
    position: relative;
    display: block;
    width: 100%;
}

.slider-product-proposal__slider-item {
    overflow: hidden;
}


/* .slider-item__picture {
    height: inherit;
    width: inherit;
    object-fit: contain;
    transition: 0.3s linear transform;
} */


.slider-item__image {
    max-width: 95%;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.slider-item__image img{
     width: 100%;
}


.slider-product_down-box{
    max-width: 95%;
    background-color: #eee;
    
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
}

.slider-product-hover-wrapper{
    background-color: #574574;
    width: 95%;
    position: absolute;
    z-index: -1;
    transition: all 500ms ease;
    
}
.slider-product-proposal__slider-item{
    position: relative;
}

.slider-product-proposal__slider-item :hover 
.slider-product-hover-wrapper  {
    bottom: 85px;
    z-index: 20;
}
https://www.figma.com/file/20HGKMONHbEXA00Ps52WVr/SM%3A-Icons-(Community)?type=design&node-id=1-1512&t=QTipg5cOOSqZ4bLF-4