.menu__cart-product__wrapper{
    position: relative;
    border: solid 2px #cac9c9;
    height: 402px;
    
    
}
.badge.price__badge-sale.color-accent-2{
    position: absolute;
    top: -29rem;
    left: 15px;
}

.menu__cart-product_image-hover-wrapper {
    background-color: #574574;
    width: 100%;
    position: absolute;
    
    bottom: 50px;
    transition: all 500ms ease;
    max-width: 300px;
    
}
.menu__cart-product__wrapper :hover
.menu__cart-product_image-hover-wrapper {
    bottom: 99px;
 
 
}
.menu__cart-product_hover-block-style {
    display: flex;
}

.menu__cart-product_add-to-cart {
    background-color: #574574;
}
.menu__cart-product_down-box{
    position: absolute;
    background-color: #eee;
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button--secondary:after {
    border-opacity: none;
}
.menu__cart-product__image{
    height: 100%;
    max-height: 300px;
}

.mega-menu__content.gradient.motion-reduce.global-settings-popup{
    max-height:477px ;
}
.menu__cart-product_hover-block-style a{
    
    color: #cac9c9;
}

.menu__cart-product-quick-view,
.menu__cart-product_view-details {
 border-right: 1px solid #fff;
 display: flex;
 height: 40px;
 max-width: 60px;
 width: 100%;
}
.menu__cart-product__link{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 40px;
    max-width: 60px;
    width: 100%;
}
.menu__cart-product__link-options{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.menu__cart-product_add-to-cart{
    display: flex;
    justify-content: center;
    max-width: 179px;
    width: 100%;
    align-items: center;
    text-align: center;
    
}
.menu__cart-product_svg{
    padding-top: 8px;
    padding-left: 9px;
}
.menu__cart-product-quick-view :hover{
    background-color: #2e2d2df0;
  }
.menu__cart-product_view-details :hover{
    background-color: #2e2d2df0;
  }
.menu__cart-product_add-to-cart :hover{
    opacity: 50%;
}


<svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.72409 1.95368C7.40271 1.65239 6.8936 1.5 6 1.5C5.1064 1.5 4.59729 1.65239 4.27591 1.95368C3.96257 2.24744 3.5 2.99789 3.5 5C3.5 7.00211 3.96257 7.75256 4.27591 8.04632C4.59729 8.34761 5.1064 8.5 6 8.5C6.8936 8.5 7.40271 8.34761 7.72409 8.04632C8.03743 7.75256 8.5 7.00211 8.5 5C8.5 2.99789 8.03743 2.24744 7.72409 1.95368ZM8.272 9.5C9.28 8.9 10 7.625 10 5C10 0.625 8 0 6 0C4 0 2 0.625 2 5C2 7.625 2.72 8.9 3.728 9.5C4.4 9.9 5.2 10 6 10C6.8 10 7.6 9.9 8.272 9.5ZM3 11C1.34314 11 0 12.3431 0 14C0 15.1046 0.895431 16 2 16H10C11.1046 16 12 15.1046 12 14C12 12.3431 10.6569 11 9 11H3ZM2 14.5H10C10.2761 14.5 10.5 14.2761 10.5 14C10.5 13.1716 9.82843 12.5 9 12.5H3C2.17157 12.5 1.5 13.1716 1.5 14C1.5 14.2761 1.72386 14.5 2 14.5Z" fill="#4D5061"/>
</svg>
