.menu__cart-product__wrapper{
    position: relative;
    border: solid 2px #cac9c9;
    height: 402px;
    
    
}
.badge.price__badge-sale.color-accent-2{
    position: absolute;
    top: -29rem;
    left: 15px;
}

.menu__cart-product_image-hover-wrapper {
    background-color: #574574;
    max-width: 100%;
    position: absolute;
    bottom: 53px;
    transition: all 500ms ease;
    
}
.menu__cart-product__wrapper :hover
.menu__cart-product_image-hover-wrapper {
    bottom: 99px;
 
 
}
.menu__cart-product_hover-block-style {
    display: flex;
    justify-content: space-between;
}
.menu__cart-product-quick-view {
}
.menu__cart-product_view-details {
}
.menu__cart-product_add-to-cart {
    background-color: #574574;
}
.menu__cart-product_down-box{
    position: absolute;
    background-color: #eee;
    max-width: 300px;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button--secondary:after {
    border-opacity: none;
}
.menu__cart-product__image{
    height: 100%;
    max-height: 300px;
}

.mega-menu__content.gradient.motion-reduce.global-settings-popup{
    max-height:477px ;
}